body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(214, 214, 247);
}
header {
    background-color: #343a40; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}
main {
    padding: 20px;
}
.description, .specialties, .events, .promotions, .testimonials, .blog {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.description h2, .specialties h2, .events h2, .promotions h2, .testimonials h2, .blog h2 {
    color: #007bff; 
}
.testimonials blockquote {
    border-left: 5px solid #007bff; 
    padding-left: 10px;
    margin-bottom: 20px;
}

.testimonials blockquote p {
    margin: 0; 
}

.testimonials blockquote footer {
    color: #555; 
}


.blog a {
    color: #007bff; 
    text-decoration: none; 
}

.blog a:hover {
    text-decoration: underline; 
}


footer {
    background-color: #343a40; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
}

footer a {
    color: #ffffff; 
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline; 
}

