/* Styles communs */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(214, 214, 247);
    color: black;

}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.menu-category {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu-category h2 {
    color: #007bff;
}

/* Styles spécifiques pour les tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table td, table th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

/* Styles pour les boutons de commande */
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Styles pour le pied de page */
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}


#Section1 {
    background-image: url('img3.png'); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#Section2 {
    background-image: url('img8.png'); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#Section3 {
    background-image: url('img6.png'); 
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
}
