body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: rgb(214, 214, 247);
    color: black
}

header {
    background-color: #343a40; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.map {
    margin-bottom: 20px;
    position: initial;
    margin: 5%;
  }


.container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.container h2 {
    color: #007bff; 
}

.container label {
    font-weight: bold;
}

.container input[type="email"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button {
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3; 
}
.promotion {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.promotion h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.promotion p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.promotion button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.promotion button:hover {
    background-color: #cc7700;
}

